@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Lato", sans-serif;
}
a {
  transition: 0.3s;
  text-decoration: none;
}
.row {
  margin: 0 -15px;
}
.col-12 {
  width: 100%;
  float: left;
  padding: 0 15px;
}
.col-8 {
  width: 66.66%;
  float: left;
  padding: 0 15px;
}
.col-4 {
  width: 33.33%;
  float: left;
  padding: 0 15px;
}

.fix {
  overflow: hidden;
}

.header-area {
  border-top: 5px solid #4272d7;
  min-height: 120px;
}
.container {
  width: 1170px;
  margin: auto;
}

.logo {
  float: left;
  margin-top: 36px;
}
.search-icon {
  float: right;
  margin-top: 50px;
  margin-left: 25px;
  padding-left: 25px;
  position: relative;
}
.search-icon::before {
  content: "";
  height: 15px;
  width: 2px;
  position: absolute;
  background: #cccccc none repeat scroll 0 0;
  top: 3px;
  left: 0;
}
.main-menu {
  float: right;
}
.main-menu ul li {
  display: inline-block;
  margin-left: 40px;
  position: relative;
}
.main-menu ul li a {
  color: #666666;
  display: block;
  font-size: 15px;
  padding: 50px 0;
  text-decoration: none;
}
.main-menu ul li:hover > a {
  color: #4272d7;
}

/* dropdown menu  */
.main-menu ul li ul.submenu {
  background: #171a21 none repeat scroll 0 0;
  border-top: 5px solid #4272d7;
  left: 0;
  position: absolute;
  top: 110%;
  width: 260px;
}
.main-menu ul li:hover ul.submenu {
  z-index: 99 !important;
  top: 100%;
}

.main-menu ul li ul.submenu li {
  border-bottom: 2px solid #1e2128;
  display: block;
  margin: 0;
}
.main-menu ul li ul.submenu li a {
  color: #fff;
  font-size: 13px;
  padding: 15px 20px;
}
.main-menu ul li ul.submenu li:hover > a {
  background-color: #4272d7;
  padding-left: 35px;
}

/* sub dropdown menu  */
.main-menu ul li ul.submenu li ul.submenu {
  left: 102%;
  opacity: 0;
  top: 105%;
  visibility: hidden;
}
.main-menu ul li:hover ul.submenu li:hover ul.submenu {
  z-index: 999;
  opacity: 1;
  visibility: visible;
}

/* slider area  */
.slider-area {
  overflow: hidden;
  width: 100%;
}
.single-slide {
  text-align: center;
  width: 100%;
  padding: 175px 0;
  background-size: cover;
  background-position: center top;
}
.single-slide h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}
.single-slide h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 40px;
}
.single-slide a {
  background-color: #4272d7;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  padding: 18px 40px;
  display: inline-block;
}

div.owl-nav button {
  background-color: red !important;
  color: #fff !important;
  position: absolute;
  left: 50px;
  top: 50%;
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
}
div.owl-nav button.owl-next {
  right: 50px;
  left: auto;
}

.owl-dots {
  width: 55px;
  margin: 0 auto;
  position: relative;
  margin-top: -22px;
  bottom: 40px;
  text-align: center;
  z-index: 1;
}

.owl-dots button.owl-dot {
  width: 12px;
  height: 12px;
  background: red;
  display: inline-block;
  margin: 0 3px;
  border-radius: 50%;
}
.owl-dots button.owl-dot.active {
  background-color: blue;
}

/* cta area */
.cta-area {
  background: #4272d7;
  padding: 30px 0;
}
.cta-text {
}
.cta-text p {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  margin-top: 9px;
}
.cta-text p span {
  font-size: 30px;
}
.cta-btn {
  float: right;
}
.cta-btn a {
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
  font-weight: 700;
  padding: 17px 45px;
}

/* features area */
.features-area {
  padding: 70px 0;
}
.single-features {
  position: relative;
  overflow: hidden;
}
.features-img img {
  width: 100%;
}
.features-content {
  background-color: #507bd6;
  bottom: 0;
  left: 0;
  top: 0;
  padding: 30px;
  position: absolute;
  transition: 0.3s;
  transform: translateY(66%);
}
.single-features:hover .features-content {
  transform: translateY(0);
}
.features-icon {
  margin-bottom: 30px;
}
.features-icon i {
  color: #fff;
  display: inline-block;
  font-size: 30px;
}
.features-icon h3 {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
}
.features-content p {
  line-height: 25px;
  color: #e5e5e5;
}
.features-content a {
  color: #e5e5e5;
  display: inline-block;
  margin-top: 20px;
}
.features-content a i {
}

/* services area  */
.services-area {
  background-color: #f0f0f0;
  padding-top: 50px;
  padding-bottom: 20px;
}
.section-title {
  margin: 80px 0;
  text-align: center;
  position: relative;
}
.section-title h2 {
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.section-title > h2::before {
  background: #222;
  bottom: 0;
  content: "";
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 40px;
  height: 2px;
  z-index: 1;
}
.single-service {
  display: flex;
  margin-bottom: 50px;
}
.service-icon {
  width: 80px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 26px;
  background-color: #4272d7;
  color: #fff;
}
.service-icon i {
}
.service-content {
  padding-left: 15px;
}
.service-content h3 {
  font-weight: 600;
  color: #555555;
  margin-bottom: 5px;
}
.service-content p {
  font-size: 15px;
  color: #666666;
  line-height: 24px;
}
